<!-- Nav -->
	<nav id="nav">
		<ul>
			{% assign current = page.url | downcase | split: '/' %}
      <li {% if current[1] == 'index.html' or page.url == '/' %}class='current'{% endif %}><a href="{{ site.baseurl }}/index.html">Home</a></li>
      <li {% if current[1] == 'committees.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/committees.html">Committees</a></li>
      <li {% if current[1] == 'program.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/program.html">Program</a></li>
      <li {% if current[1] == 'submission.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/submission.html">Submission</a></li>
      <li {% if current[1] == 'registration.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/registration.html">Registration</a></li>
      <li {% if current[1] == 'venue.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/venue.html">Venue</a></li>
      <li {% if current[1] == 'hotel.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/hotel.html">Hotel</a></li>
		</ul>
	</nav>
